/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');

/* Global styling */
:root {
  --white: #EDEDED;
  --gray: #BFC0C0;
  --dark: #585959;
  --light: #D3DEEA;

  /* Define font variables */
  --big: 'Abril Fatface', serif;
  --body: 'Lato', sans-serif;
}

/* Body styling */
body {
  background: var(--light);
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.top{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.top h1{
    font-size: 4.5rem;
}
.top h2{
    font-size: 2.5rem;
}

/* Ghost animation container */
.container {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: -40px;
}

/* Ghost elements */
.ghost {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: var(--white);
  border: 1px solid var(--gray);
  border-bottom: none;
  animation: float 2s ease-out infinite;
}

.ghost-copy {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: var(--white);
  border: 1px solid var(--gray);
  border-bottom: none;
  animation: float 2s ease-out infinite;
  z-index: 0;
}

/* Ghost's face */
.face {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
}

/* Ghost's eyes */
.eye,
.eye-right {
  position: absolute;
  background: var(--dark);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 40%;
}

.eye {
  left: 25%;
}

.eye-right {
  right: 25%;
}

/* Ghost's mouth */
.mouth {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent var(--dark) var(--dark) transparent;
  transform: rotate(45deg);
}

/* Teeth */
.one,
.two,
.three,
.four {
  position: absolute;
  background: var(--white);
  top: 85%;
  width: 25%;
  height: 23%;
  border: 1px solid var(--gray);
  z-index: 0;
}

.one {
  border-radius: 0 0 100% 30%;
  left: -1px;
}

.two {
  left: 23%;
  border-radius: 0 0 50% 50%;
}

.three {
  left: 50%;
  border-radius: 0 0 50% 50%;
}

.four {
  left: 74.5%;
  border-radius: 0 0 30% 100%;
}

/* Ghost's shadow */
.shadow {
  position: absolute;
  width: 30%;
  height: 7%;
  background: var(--gray);
  left: 35%;
  top: 80%;
  border-radius: 50%;
  animation: scale 2s infinite;
}

footer {
 bottom: 0;
position: absolute;
justify-content: center;

}
