.Menu{
    margin-top: 100px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    justify-content:space-around;
  }
  /* Box  */
   .Menu-Item{
    flex: auto auto 150px;
    padding: 1rem;
    margin: 5px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures the image won't overflow */
    display: flex;
    
   }
   #item{
    display: block;
   }
   .content {
    padding: 10px;
  }
  .dish-image{
    margin: 5px;
    width: 100px;
   
     /* Set a fixed width for the image */
     min-height: 150px;
      object-fit: cover; 
      flex: 1 1 100px;
    
   
  }
  
  
   
  
  
  
  
  
  
  
  
 
  
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .Menu{
      list-style: none;
      padding: 0;
      display: flex;
      /* flex-direction: column; */
      flex-wrap: wrap;
    
    }
    .Menu-Item{
      flex: auto auto auto;
      
      margin: 10px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      overflow: hidden; /* Ensures the image won't overflow */
      display: flex;
      /* flex-direction: column; */
     
      
    }
    .text-content {
      padding: 2px;
      font-size: 1rem;
    }
    .dish-image{
      margin: 2px;
      padding-right: 15px;
      
      
       /* Set a fixed width for the image */
       min-height: 150px;
        object-fit:cover; 
  
        flex:0 0 160px ;
       
        
      
     
    }
  }
  
  .edit-input{
    display: none;
    opacity: 1;
    background-color: blanchedalmond;
  color: black;
  font-size: 12px;
     
    padding: 1.5rem;
  }