// @charset "utf-8";
// @import "../bulma/bulma.sass";
// sass --watch --no-source-map sass/mystyles.scss:css/mystyles.css

// For chills
// sass --watch --no-source-map chills-restaurant/sass/mystyles.scss:css/mystyles.css
@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$red:#ff0000;
$black:#000000;
$babyBlue:#81cff4;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

$primary: $purple;
$secondaryPrimary:$black;
$secondary:$beige-light;
$link: $babyBlue;
$widescreen-enabled: true;
$fullhd-enabled: true;


// Update some of Bulma's component variables

$control-border-width: 1px;
$input-border-color: transparent;
$input-shadow: none;
$body-background-color: $babyBlue;







// 
// input { 
//     opacity: 0;
//     width: 0;
//     height: 0;
//   }
//   .myswitch{
//   position: relative;
//   display: inline-block;
//   width: 45px;
//   height: 24px;
//   }
//   .myslider{
//     background-color:#ccc;
//   }.myslider {
//     position: absolute;
//     cursor: pointer;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #ccc;
//     -webkit-transition: .4s;
//     transition: .4s;
//   }
//   /* Content inside the slider */
//   .myslider:before {
//     position: absolute;
//     content: "";
//     height: 16px;
//     width: 18px;
//     left: 3px;
//     bottom: 4px;
//     background-color: white;
//     -webkit-transition: .4s;
//     transition: .4s;
//   }
//   /* Changes the background color when is checked */
//   input:checked + .myslider {
//     background-color:greenyellow;
//   }
  
//   input:focus + .myslider {
//     box-shadow: 0 0 1px #2196F3;
//   }
//   /* Moves the slider ball to one side to another
//   The differents transforms are for compatibility for differents browsers
  
  
//   */
//   input:checked + .myslider:before {
//     -webkit-transform: translateX(20px);
//     -ms-transform: translateX(20px);
//     transform: translateX(20px);
//   }
//   /*The body of the slider   */
//   .switch {
//     position: relative;
//     display: inline-block;
//     width: 60px;
//     height: 34px;
//   }
  
//   /* content inside the slider */
//   .slider {
//     position: absolute;
//     cursor: pointer;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #ccc;
//     -webkit-transition: .4s;
//     transition: .4s;
//   }
  
//   .slider:before {
//     position: absolute;
//     /* Settles the content inside */
//     content: "";
//     height: 26px;
//     width: 26px;
//     left: 4px;
//     bottom: 4px;
//     background-color: white;
//     -webkit-transition: .4s;
//     transition: .4s;
//   }
//   /* Changes the background color when is checked */
//   input:checked + .slider {
//     background-color:greenyellow;
//   }
  
//   input:focus + .slider {
//     box-shadow: 0 0 1px #2196F3;
//   }
//   /* Moves the slider ball to one side to another
//   The differents transforms are for compatibility for differents browsers
  
  
//   */
//   input:checked + .slider:before {
//     -webkit-transform: translateX(24px);
//     -ms-transform: translateX(24px);
//     transform: translateX(24px);
//   }
  
//   /* Rounded sliders */
//   .slider.round {
//     border-radius: 34px;
//   }
//   /* Content inside the slider */
//   .slider.round::before {
//     border-radius: 50%;
//   }




// Import only what you need from Bulma
@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/elements/button.sass";
@import "../bulma/sass/elements/container.sass";
@import "../bulma/sass/elements/title.sass";
@import "../bulma/sass/form/_all.sass";
@import "../bulma/sass/components/navbar.sass";
@import "../bulma/sass/layout/hero.sass";
@import "../bulma/sass/layout/section.sass";

@import "../bulma/sass/grid/columns.sass";
